body {
    margin: 1.25 rem, auto;
    line-height:normal;
}

header, footer {
    background-color: darkolivegreen;
    text-align: center;
    
   
}
h1, h2, p {
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    color:honeydew;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
}
img {
    
    padding: 10px;
 
}

h2 {
 text-emphasis: bold;
 color:darkslategrey;
 font-size: 1rem; 
}
ul{
    text-align: center;
    
}
footer p {
    text-align: center;
    color:honeydew;
    
}
