body {
    margin: 1.25 rem, auto;
    line-height:normal;
    grid-template-columns: 1rem, 1.5rem, 1.5rem, 1rem;
    grid-template-rows: 1rem, 1rem, 1rem, 1rem;
}
header, footer {
    background-color: darkolivegreen;
    text-align: center;
    
   
}
h1 {
    
    color:honeydew;
    padding: 5px;
    text-align: center;
    font-size: 1.5rem;
   
}
#under-text {
    text-align-last: center;
}
h2 {
    text-emphasis: bold;
    color:darkslategrey;
    font-size: 1rem; 
   }

    
footer p {
    text-align: center;
    color:honeydew;
    
}