body {
    margin: 1.25 rem, auto;
    line-height: normal;
    display: block;
    grid-template-columns: 1rem, 1rem;
    grid-template-rows: 50px, 50px, 1rem;
}
nav  {
    display: inline-block;
    color:darkolivegreen;
    background-color: honeydew;
    float: right;
    padding-right: 10px;
    
   
}
a{
    
}
li {
    text-decoration: none;
    list-style-type: none;
}
#jingle {
    text-align: center;
    grid-row: 2/3;

    
}
.text {
    text-align: left;
}
}
h1, h2, p {
    font-family: 'Montserrat', sans-serif;
    
}

h1{
    color: darkslategrey;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
    grid-row: 2/3;
}
h2{
    grid-row: 3/4;
    
}
img {
    
    padding: 10px;
 
}

h2 {
 text-emphasis: bold;
 color:darkslategrey;
 font-size: 1rem; 
}
footer p {
    text-align: center;
    color:honeydew;
    
}